.blueprint-blocks\:dialog-toggle img {
	grid-column: 1;
	grid-row: 1;
	height: 16px;
	width: 16px;
}

.blueprint-blocks\:dialog.is-open .blueprint-blocks\:dialog-toggle:after {
	grid-column: 1;
	grid-row: 1;
	position: relative;
	transform: translateY(-100%);
}
