.components-toolbar-group .components-button.blueprint-blocks\:toolbar-field-button[subscript],
.components-toolbar-group .components-button.has-icon.blueprint-blocks\:toolbar-field-button[subscript] {
	padding-right: 16px;
}

.components-toolbar-group .components-button.blueprint-blocks\:toolbar-field-button[subscript]::after,
.components-toolbar-group .components-button.has-icon.blueprint-blocks\:toolbar-field-button[subscript]::after {
	bottom: calc(50% - 9px);
    content: attr(subscript);
    font-size: 12px;
    font-weight: bold;
	left: calc(100% - 17px);
    line-height: 12px;
    position: absolute;
	transform: translateX(-50%);
}
