.PatternsFields_TextField input[type='text'] {
    font-family: inherit;
    text-align: inherit;
    transition: none;
}

.PatternsFields_TextField input[type='text']::placeholder,
.PatternsFields_TextField input[type='text']:focus::placeholder,
.PatternsFields_TextField input[type='text']:hover::placeholder {
    color: currentColor;
    opacity: 0.5;
}
