.blueprint-blocks\:repeating-field-wrap {
    position: relative;
}

.blueprint-blocks\:repeating-field-minus,
.blueprint-blocks\:repeating-field-plus {
    align-items: center;
    cursor: pointer;
    display: grid;
    justify-content: center;
    height: 26px;
    transition: background 0.4s, colors 0.4s;
    width: 26px;
}

.blueprint-blocks\:repeating-field-minus:not(.is-disabled):hover,
.blueprint-blocks\:repeating-field-plus:not(.is-disabled):hover {
    background: #e5f3f8;
    color: #0085ba;
}

.blueprint-blocks\:repeating-field-minus.is-disabled,
.blueprint-blocks\:repeating-field-plus.is-disabled {
    cursor: default;
    opacity: 0.25;
}

.blueprint-blocks\:repeating-field-minus img,
.blueprint-blocks\:repeating-field-plus img {
	display: block;
	height: 14px;
	width: 14px;
}