.blueprint-blocks\:link-field-wrap {
    position: relative;
}

.blueprint-blocks\:link-field-properties {
	align-items: center;
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 1fr 12px 34px;
	row-gap: 4px;
}

.blueprint-blocks\:link-field-properties:after {
	background: var(--blueprint-blocks-color-gray);
	content: '';
	display: block;
	height: 2px;
	grid-column: 1 / span 3;
}

.blueprint-blocks\:link-field-properties .blueprint-blocks\:url-field input[type='text'] {
	border: 0;
	line-height: 32px;
	padding: 0;
}

.blueprint-blocks\:link-field-properties .blueprint-blocks\:url-field input[type='text']:focus,
.blueprint-blocks\:link-field-properties .blueprint-blocks\:url-field input[type='text']:hover {
	border: 0;
	box-shadow: none;
	outline: none;
}