.blueprint-blocks\:toggle-field-wrap {
	--grid-columns: 2;
	border: 1px solid #8d96a0;
	border-radius: 4px;
	min-height: 26px;
	overflow: hidden;
	position: relative;
	user-select: none;
}

.blueprint-blocks\:toggle-field-items {
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
	width: 100%;
}

.blueprint-blocks\:toggle-field-item {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex: 1;
	justify-content: center;
	height: 26px;
	outline: 1px solid #e2e4e7;
	text-align: center;
	transition: background 0.4s, colors 0.4s;
	white-space: nowrap;
}

.blueprint-blocks\:toggle-field-item.has-icon i {
	font-size: 16px;
}

.blueprint-blocks\:toggle-field-items.has-images .blueprint-blocks\:toggle-field-item {
	flex-direction: column;
	height: auto;
	justify-content: start;
	overflow: hidden;
	white-space: normal;
}

.blueprint-blocks\:toggle-field-items.has-images .blueprint-blocks\:toggle-field-item span {
	padding: 8px;
}

.blueprint-blocks\:toggle-field-items.has-images .blueprint-blocks\:toggle-field-item.has-icon i {
	font-size: 32px;
}

.blueprint-blocks\:toggle-field-item.has-image img {
	display: block;
	height: 100%;
	object-fit: contain;
	object-position: center;
	width: 100%;
}

.blueprint-blocks\:toggle-field-item:hover {
	background: #e5f3f8;
	color: #0085ba;
}

.blueprint-blocks\:toggle-field-item.is-active {
	background: #0085ba;
	color: #fff;
}

.blueprint-blocks\:toggle-field-image {
	display: grid;
	width: 100%;
}

.blueprint-blocks\:toggle-field-image:before {
	content: '';
	display: block;
	padding-bottom: calc(100% * (64 / 100));
}

.blueprint-blocks\:toggle-field-image:before,
.blueprint-blocks\:toggle-field-image img {
	grid-column: 1;
	grid-row: 1;
}
	